# Ignore Files
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.txt
inst/extdata/allsubtypes/*
inst/extdata/Clinical/*
inst/extdata/TCGA_Curation_Cancer_Types/*
rawdata/*
data/*
*.tar.gz
*.xlsx
*.xls
*.csv
*.[Rr]da
*.[Rr]ds
.httr-oauth
.~lock.*
*.orig

# Don't ignore
!curationAvailable.Rda
!clinicalColnames.rds

data-raw/.httr-oauth

