.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
*.txt
inst/extdata/allsubtypes/*
inst/extdata/Clinical/*
inst/extdata/TCGA_Curation_Cancer_Types/*
rawdata/*
*.tar.gz
*.xlsx
*.csv
*.[Rr]da
*.[Rr]ds
.httr-oauth
